body{
  background-color: rgba(29,24,46,0.6);
  position: absolute;
}

.contenedor{
  grid-area: contenido;
  display: grid;
  grid-template-areas: 'menu contenido' 'menu comando';
  grid-template-columns: 100px auto;
}
.encabezado{
  grid-area: encabezado;
  display: grid;
  grid-template-areas: 'titulo fecha' 'titulo hora';
  grid-template-columns: 500px 120px;
}
.contenido{
    grid-area: contenido;
}
.menu{
    grid-area: menu;
}
.comando{
  grid-area: comando;
  position: absolute;
  left: 0px;
  top: 620px;
  justify-content: space-around;
}
header{
  top: 0px;
  left: 0px;
}
header div .p-titulo{
  grid-area: titulo;
}
header div .p-fecha{
  grid-area: fecha;
}
header div .p-hora{
  grid-area: hora;
}
canvas #canvas{
  grid-area: contenido !important;
  position: absolute;
  left: 120px !important;
  top: 40px !important;
}
article #comando{
  grid-area: contenido !important;
  display: inline-flex;
}
form #form-comando-forzadores{
  width: 340px;
}
form #form-comando-filtros{
  width: 200px;
}
form #form-comando-filtros label{
  width: 116px;
}
form #form-comando-circuito{
  width: 200px;
}
form #form-comando-circuito label{
  width: 116px;
}
